body{
  display: block;
  text-align: left;
    margin: 2em;

}
form{
  display: inline-block;
  text-align: center;
}
 #map {
    position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
 }
/* .container{ */
  /* text-align: center; */
/* .mdl-data-table{ */
  /* display: inline; */
  /* text-align: left; */
/* } */
